In [1]:
import pandas as pd

In [75]:
# 1. CSV 파일 읽기
data = pd.read_csv('data/iris.csv')
data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [76]:
# 2. DataFrame > CSV 파일 저장
data.to_csv('df_to_csv.csv', header = True, index = False, encoding = 'UTF-8')
pd_to_csv = pd.read_csv('df_to_csv.csv')
pd_to_csv

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [77]:
# 3. 데이터 프레임 선언
list = [1,1,1,1]
list_to_df = pd.DataFrame(list)
list_to_df

   0
0  1
1  1
2  1
3  1

In [78]:
# 4. 시리즈 선언
list = [1,2,3,4]
list_to_series = pd.Series(list)
list_to_series

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# 5. 데이터프레임 요약
print(data.info()) # 데이터 크기, 타입, 결측치
print(data.describe()) # 데이터의 기초통계
print('데이터의 size : ', data['sepal length'].size) 
print('데이터의 shape : ', data['sepal length'].shape) # 튜플 형태로 행,렬 수를 반환
print('데이터의 min : ', data['sepal length'].min())
print('데이터의 max : ', data['sepal length'].max())
print('데이터의 unique : ',data['sepal length'].unique())

print('데이터의 mean : ', data['sepal length'].mean()) # NaN 제외
print('데이터의 count : ', data['sepal length'].count()) # NaN 제외
print('데이터의 value_counts() : ', data['sepal length'].value_counts()) # NaN 제외

In [80]:
# 6. 데이터 프레임 인덱스 확인/추가/리셋
data.index
data.set_index('target', inplace = True) # 특정 컬럼을 인덱스로 설정
#data.set_index('sepal length', inplace = True) # 특정 컬럼을 인덱스로 설정
data.reset_index(inplace = True) # 직전 설정된 인덱스를 컬럼으로 리셋
                                 # (두 번 연속 특정 컬럼을 인덱스로 설정한 경우, 첫 번째 인덱스로 설정된 컬럼은 자동 제거)
data

             target  sepal length  sepal width  petal length  petal width
0       Iris-setosa           5.1          3.5           1.4          0.2
1       Iris-setosa           4.9          3.0           1.4          0.2
2       Iris-setosa           4.7          3.2           1.3          0.2
3       Iris-setosa           4.6          3.1           1.5          0.2
4       Iris-setosa           5.0          3.6           1.4          0.2
..              ...           ...          ...           ...          ...
145  Iris-virginica           6.7          3.0           5.2          2.3
146  Iris-virginica           6.3          2.5           5.0          1.9
147  Iris-virginica           6.5          3.0           5.2          2.0
148  Iris-virginica           6.2          3.4           5.4          2.3
149  Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [82]:
# 7. 데이터 프레임 값 확인
data.values[:5] # values[행:열]

array([['Iris-setosa', 5.1, 3.5, 1.4, 0.2],
       ['Iris-setosa', 4.9, 3.0, 1.4, 0.2],
       ['Iris-setosa', 4.7, 3.2, 1.3, 0.2],
       ['Iris-setosa', 4.6, 3.1, 1.5, 0.2],
       ['Iris-setosa', 5.0, 3.6, 1.4, 0.2]], dtype=object)

In [92]:
# 7. 데이터 프레임 컬럼명 확인 및 변경
data.columns
data.columns = ['a_a','b_b','c_c','d_d','e_e']
data.columns = data.columns.str.replace('_','')
data

                 aa   bb   cc   dd   ee
0       Iris-setosa  5.1  3.5  1.4  0.2
1       Iris-setosa  4.9  3.0  1.4  0.2
2       Iris-setosa  4.7  3.2  1.3  0.2
3       Iris-setosa  4.6  3.1  1.5  0.2
4       Iris-setosa  5.0  3.6  1.4  0.2
..              ...  ...  ...  ...  ...
145  Iris-virginica  6.7  3.0  5.2  2.3
146  Iris-virginica  6.3  2.5  5.0  1.9
147  Iris-virginica  6.5  3.0  5.2  2.0
148  Iris-virginica  6.2  3.4  5.4  2.3
149  Iris-virginica  5.9  3.0  5.1  1.8

[150 rows x 5 columns]

In [111]:
# 8. 데이터 프레임 컬럼 타입 변경
data.info()
data['bb'] = data['bb'].astype(str) # str, int, float
data['cc'] = data['cc'].astype(str) # str, int, float
data['dd'] = data['dd'].astype(str) # str, int, float
data['ee'] = data['ee'].astype(str) # str, int, float
data.info()
data = data.convert_dtypes() # 모든 컬럼에 대해 가능한 가장 적절한 dtypes로 변경
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      150 non-null    string
 1   bb      150 non-null    object
 2   cc      150 non-null    string
 3   dd      150 non-null    string
 4   ee      150 non-null    string
dtypes: object(1), string(4)
memory usage: 6.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      150 non-null    string
 1   bb      150 non-null    object
 2   cc      150 non-null    object
 3   dd      150 non-null    object
 4   ee      150 non-null    object
dtypes: object(4), string(1)
memory usage: 6.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      150 non-null    string
 1   bb      150 non-null    string
 2   cc      150 non-null    string
 3   dd      150 non-null    string
 4   ee      150 non-null    string
dtypes: string(5)
memory usage: 6.0 KB

In [153]:
# 9. 데이터 프레임 행/열 선택
# loc : 레이블 위치 기반 인덱서, iloc : 위치 기반 인덱싱
data = pd.read_csv('data/iris.csv')
data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [119]:
data.loc[0:4,['sepal length', 'sepal width']]

   sepal length  sepal width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [ ]:
data.iloc[0:5,0:2] # loc랑 행의 마지막 범위가 다름.

In [120]:
data.loc[[0,2,4],['sepal length', 'sepal width']]

   sepal length  sepal width
0           5.1          3.5
2           4.7          3.2
4           5.0          3.6

In [117]:
data.loc[:, ['sepal length', 'sepal width']]

     sepal length  sepal width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [165]:
# 10. 데이터 프레임 행 추가 / 삭제
temp = pd.DataFrame([[99.0, 98.0, 97.0, 96.0, 'sample']], columns = data.columns)
data = data.append(temp)
print(data)
data.reset_index(drop = True, inplace = True)
data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
149           5.9          3.0           5.1          1.8  Iris-virginica
150          99.0         98.0          97.0         96.0          sample
151          99.0         98.0          97.0         96.0          sample
152          99.0         98.0          97.0         96.0          sample
0            99.0         98.0          97.0         96.0          sample

[154 rows x 5 columns]

C:\Users\KDB\AppData\Local\Temp\ipykernel_88852\4140281815.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
149           5.9          3.0           5.1          1.8  Iris-virginica
150          99.0         98.0          97.0         96.0          sample
151          99.0         98.0          97.0         96.0          sample
152          99.0         98.0          97.0         96.0          sample
153          99.0         98.0          97.0         96.0          sample

[154 rows x 5 columns]

In [166]:
# 인덱스로 행 삭제
data.drop([151,152,153], inplace = True)
data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
150          99.0         98.0          97.0         96.0          sample

[151 rows x 5 columns]

In [188]:
# 결측치가 있는 행 모두 삭제
import numpy as np
data = pd.read_csv('data/iris.csv')
temp = pd.DataFrame([[np.nan,1,1,1,'s1'],
                     [2,np.nan,2,2,'s2'],
                     [3,3,np.nan,3,'s3'],
                     [4,4,4,np.nan,'s4'],
                     [5,5,5,5,'s5']], columns = data.columns)

data = data.append(temp)
print(data)
data.reset_index(drop = True, inplace = True)
print('============결측치 행만 추출 시작')
print(data[(data['sepal length'].isnull() | data['sepal width'].isnull() | data['petal length'].isnull() | data['petal width'].isnull())])
print('============결측치 행만 추출 끝')
print(data)
data.dropna(inplace = True)
data.reset_index(drop = True, inplace = True)
data

    sepal length  sepal width  petal length  petal width       target
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
..           ...          ...           ...          ...          ...
0            NaN          1.0           1.0          1.0           s1
1            2.0          NaN           2.0          2.0           s2
2            3.0          3.0           NaN          3.0           s3
3            4.0          4.0           4.0          NaN           s4
4            5.0          5.0           5.0          5.0           s5

[155 rows x 5 columns]
============결측치 행만 추출 시작
     sepal length  sepal width  petal length  petal width target
150           NaN          1.0           1.0          1.0     s1
151           2.0          NaN           2.0          2.0     s2
152           3.0          3.0           NaN          3.0     s3
153           4.0          4.0           4.0          NaN     s4
============결측치 행만 추출 끝
     sepal length  sepal width  petal length  petal width       target
0             5.1          3.5           1.4          0.2  Iris-setosa
1             4.9          3.0           1.4          0.2  Iris-setosa
2             4.7          3.2           1.3          0.2  Iris-setosa
3             4.6          3.1           1.5          0.2  Iris-setosa
4             5.0          3.6           1.4          0.2  Iris-setosa
..            ...          ...           ...          ...          ...
150           NaN          1.0           1.0          1.0           s1
151           2.0          NaN           2.0          2.0           s2
152           3.0          3.0           NaN          3.0           s3
153           4.0          4.0           4.0          NaN           s4
154           5.0          5.0           5.0          5.0           s5

[155 rows x 5 columns]

C:\Users\KDB\AppData\Local\Temp\ipykernel_88852\3566476510.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
150           5.0          5.0           5.0          5.0              s5

[151 rows x 5 columns]

In [181]:
# 중복 행 제거
data[data.duplicated()==True]
data.drop_duplicates(inplace = True)
data.reset_index(drop = True, inplace = True)
data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.5          3.0           5.2          2.0  Iris-virginica
145           6.2          3.4           5.4          2.3  Iris-virginica
146           5.9          3.0           5.1          1.8  Iris-virginica
147          99.0         98.0          97.0         96.0          sample
148           2.0          2.0           2.0          2.0              s2

[149 rows x 5 columns]

In [132]:
# 11. 데이터 프레임 열(컬럼) 추가 / 삭제
data['new_column'] = range(1,151)
data
data.drop(['new_column'], axis = 1, inplace = True) # axis = 0 (행), 1(열)
# data.drop(columns = ['new_column'], inplace = True)
data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]